h1 {
    font-size: 2rem;
    font-weight: bold;
}
h2 {
    font-size: 1.8rem;
    font-weight: bold;
}
section {
    margin-top: 75px;
}
table {
    width: fit-content;
    text-align: center;
}
th {
    font-size: 20px;
    font-weight: bold;
    width: fit-content;
}
td {
    font-size: 20px;
    padding: 5px;
    margin: 5px;
    border-bottom: 1px dotted black;
}
.total {
    font-weight: bold;
}
/* .total-amount {
    border-top: 1px solid black;
} */
button {
    height: 40px;
    font-size: 25px;
    margin-top: 40px;
}
/* Designing dialog box */
#container { 
    display: none; 
    background-color: rgb(238, 238, 238); 
    color: black; 
    position: absolute; 
    width: 375px; 
    border-radius: 5px; 
    left: 50%; 
    top: 25%;
    margin-left: -160px; 
    padding: 16px 8px 8px; 
    box-sizing: border-box; 
    border: 1px solid black;
 } 
   
 /* Designing dialog box's okay buttun */
 #container button { 
    background-color: rgb(206, 255, 255); 
    display: inline-block; 
    border-radius: 5px; 
    border: 2px solid gray; 
    padding: 5px; 
    text-align: center; 
    width: 100%; 
 } 
   
 /* Dialog box message decorating */
 #container .message { 
    text-align: center; 
    justify-content: center;
    padding: 10px 30px;
    font-size: 30px;
    font-weight: bold;
 }