h1 {
    font-size: 2rem;
    font-weight: bold;
}
h2 {
    font-size: 1.8rem;
    font-weight: bold;
}
section {
    margin-top: 75px;
}
table {
    width: fit-content;
    text-align: center;
}
th {
    font-size: 20px;
    font-weight: bold;
    width: fit-content;
}
td {
    font-size: 20px;
    padding: 5px;
    margin: 5px;
    border-bottom: 1px dotted black;
}
.total {
    font-weight: bold;
}
/* .total-amount {
    border-top: 1px solid black;
} */
button {
    height: 40px;
    font-size: 25px;
    margin-top: 40px;
}