
body {
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
    /* --color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1); */
/* 
    /* --color1: hsla(45, 86%, 83%, 1);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: hsla(224, 40%, 79%, 1); */
    
    --header-height: 150px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Titillium Web', sans-serif;

    
}

header {
    display: flex;
    justify-content: center;
    background-color: var(--color3);
    height: fit-content;
    box-shadow: var(--shadow);
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
    background-size: cover;
    background-image: url(../assets/farm.jpg);
    /* opacity: .5; */
    
}

.main-section {
    background-color: #ffffffbf;

    width: 100%;
    /* max-width: 80%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}
h1 {
    font-size: 2rem;
    font-weight: bold;
}

h2 {
    font-size: 1.8rem;
    font-weight: bold;
}
h3 {
    font-size: 1.5rem;
    font-weight: bold;
}
#oolong-list {
    margin-top: 75px;
    gap: 5px;
}

.gutter-right {
    margin-left: 20px;
}

.main-logo {
    animation: pulse 5s infinite ease-in-out;
}

header img {
    height: var(--header-height);
}

  
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}

ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.tea-category {
    font-size: 1.1rem;
    font-weight: bold;
}
.tea-item {
    width: 275px;
    border: solid 1px black;
    text-align: center;
}
.tea-description {
    overflow-wrap: break-word;
}
.tea-price {
    font-weight: 900;
}
.tea-image {
    width: 100px;
    height: 100px;

}
button {
    margin-top: 5px;
}