ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.tea-item {
    width: 200px;
    border: solid 1px black;
    text-align: center;
}
.tea-description {
    overflow-wrap: break-word;
}
.tea-price {
    font-weight: 900;
}
.tea-image {
    width: 100px;
    height: 100px;

}