h1 {
    font-size: 2rem;
    font-weight: bold;
}
h2 {
    font-size: 1.8rem;
    font-weight: bold;
}
section {
    margin-top: 75px;
}

.form-div {
    height: 400px;
}
.form {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
